{% extends "layout.html" %}
{% block body %}
    <h2>Login</h2>
    {% if error -%}
    <p class="error"><strong>Błąd:</strong> {{ error }}
    {%- endif %}
    <form action="{{ url_for('login') }}" method="POST">
        <div class="field">
            <label for="username">Użytkownik</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div class="field">
            <label for="password">Hasło</label>
            <input type="password" name="password" id="password"/>
        </div>
        <div class="control_row">
            <input type="submit" name="login" value="Zaloguj się"/>
        </div>
    </form>
{% endblock %}